<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button style="margin-right: 25px;" (click)="togoHome()" mat-icon-button>
      <mat-icon aria-hidden="false">storefront</mat-icon>
    </button>
    <span>Reportes de Venta</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-list *ngFor="let sells of products">
  <div mat-subheader>{{sells.client}} - {{sells.dateTime | date:'short'}}</div>
  <mat-list-item *ngFor="let prod of sells.products">
    <!-- <mat-icon mat-list-icon>folder</mat-icon> -->
    <div mat-line>{{prod.name}} / C$ {{prod.price}}</div>
    <div mat-line>Unidades: {{prod.units}} </div>
    <div mat-line>Total: {{prod.units * prod.price}} </div>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
