<mat-toolbar color="primary">
  <mat-toolbar-row><button style="margin-right: 25px;" (click)="togoHome()" mat-icon-button><mat-icon aria-hidden="false">storefront</mat-icon></button> Productos</mat-toolbar-row>
</mat-toolbar>
<mat-list>
  <!-- <div mat-subheader>Productos</div> -->
  <mat-list-item *ngFor="let product of products">
    <div mat-line>{{product.name}}</div>
    <div mat-line>C$ {{product.price}} </div>
    <button mat-icon-button (click)="editProduct(product)">
      <mat-icon mat-list-icon>create</mat-icon>
    </button>
    <button mat-icon-button (click)="openDialogDelete(product)">
      <mat-icon mat-list-icon>delete</mat-icon>
    </button>
  </mat-list-item>
</mat-list>
